
</div>
<div class="footer-padding"></div>
<div class="footer bg-dark text-light text-center py-3">
  <p class="m-0">Made by Guo Fan | <%= new Date().toLocaleDateString() %></p>
</div>
</div>
</body>
</html>
